<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Aprobador #<%= @aprobador.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/aprobadors" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link aprobador start -->
      <div class="col">
        <a href="/aprobadors/<%= @aprobador.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit aprobador
        </a>
      </div>
      <!-- Edit link aprobador end -->

    </div>

    <dl>
      <dt>
        Email
      </dt>
      <!-- Display email start -->
      <dd>
        <%= @aprobador.email %>
      </dd>
      <!-- Display email end -->

      <dt>
        Password
      </dt>
      <!-- Display password start -->
      <dd>
        <%= @aprobador.password %>
      </dd>
      <!-- Display password end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@aprobador.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@aprobador.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "aprobador_templates/aprobador_ejercicios" %>
  </div>
</div>
<!-- Show Page Customization end -->
