<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Molde #<%= @molde.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/moldes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/moldes/<%= @molde.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit molde
        </a>
      </div>

      <div class="col">
        <a href="/delete_molde/<%= @molde.id %>" class="btn btn-block btn-outline-secondary">
          Delete molde
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@molde.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@molde.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "molde_templates/molde_ejercicios" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "molde_templates/molde_drafts" %>
  </div>
</div>
