<h1>
  Edit pre ex #<%= @pre_ex.id %>
</h1>

<hr>

<!-- Form pre_ex start -->
<form action="/update_pre_ex/<%= @pre_ex.id %>" method="post" enctype="multipart/form-data">
<!-- Form pre_ex end -->

  <!-- Label and input for contenido_id start -->
  <div class="form-group">
    <label for="contenido_id">
      Contenido
    </label>

    <!-- Input for contenido_id start -->
    <%= select_tag(:contenido_id, options_from_collection_for_select(Contentido.all, :id, :eje_id, @pre_ex.contenido_id), :class => "form-control") %>
    <!-- Input for contenido_id end -->
  </div>
  <!-- Label and input for contenido_id end -->

  <!-- Label and input for molde_id start -->
  <div class="form-group">
    <label for="molde_id">
      Molde
    </label>

    <!-- Input for molde_id start -->
    <%= select_tag(:molde_id, options_from_collection_for_select(Molde.all, :id, :created_at, @pre_ex.molde_id), :class => "form-control") %>
    <!-- Input for molde_id end -->
  </div>
  <!-- Label and input for molde_id end -->

  <!-- Label and input for enunciado start -->
  <div class="form-group">
    <label for="enunciado">
      Enunciado
    </label>

    <!-- Input for enunciado start -->
    <textarea id="enunciado" name="enunciado" class="form-control" rows="3"><%= @pre_ex.enunciado %></textarea>
    <!-- Input for enunciado end -->
  </div>
  <!-- Label and input for enunciado end -->

  <!-- Label and input for imagen start -->
  <div class="form-group">
    <label for="imagen">
      Imagen
    </label>

    <!-- Input for imagen start -->
    <%= cl_image_tag(@pre_ex.imagen.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="imagen" name="imagen" class="form-control">
    <!-- Input for imagen end -->
  </div>
  <!-- Label and input for imagen end -->

  <!-- Label and input for resp_correcta start -->
  <div class="form-group">
    <label for="resp_correcta">
      Resp correcta
    </label>

    <!-- Input for resp_correcta start -->
    <textarea id="resp_correcta" name="resp_correcta" class="form-control" rows="3"><%= @pre_ex.resp_correcta %></textarea>
    <!-- Input for resp_correcta end -->
  </div>
  <!-- Label and input for resp_correcta end -->

  <!-- Label and input for w1 start -->
  <div class="form-group">
    <label for="w1">
      W1
    </label>

    <!-- Input for w1 start -->
    <textarea id="w1" name="w1" class="form-control" rows="3"><%= @pre_ex.w1 %></textarea>
    <!-- Input for w1 end -->
  </div>
  <!-- Label and input for w1 end -->

  <!-- Label and input for w2 start -->
  <div class="form-group">
    <label for="w2">
      W2
    </label>

    <!-- Input for w2 start -->
    <textarea id="w2" name="w2" class="form-control" rows="3"><%= @pre_ex.w2 %></textarea>
    <!-- Input for w2 end -->
  </div>
  <!-- Label and input for w2 end -->

  <!-- Label and input for w3 start -->
  <div class="form-group">
    <label for="w3">
      W3
    </label>

    <!-- Input for w3 start -->
    <textarea id="w3" name="w3" class="form-control" rows="3"><%= @pre_ex.w3 %></textarea>
    <!-- Input for w3 end -->
  </div>
  <!-- Label and input for w3 end -->

  <!-- Label and input for w4 start -->
  <div class="form-group">
    <label for="w4">
      W4
    </label>

    <!-- Input for w4 start -->
    <textarea id="w4" name="w4" class="form-control" rows="3"><%= @pre_ex.w4 %></textarea>
    <!-- Input for w4 end -->
  </div>
  <!-- Label and input for w4 end -->

  <!-- Label and input for op1 start -->
  <div class="form-group">
    <label for="op1">
      Op1
    </label>

    <!-- Input for op1 start -->
    <textarea id="op1" name="op1" class="form-control" rows="3"><%= @pre_ex.op1 %></textarea>
    <!-- Input for op1 end -->
  </div>
  <!-- Label and input for op1 end -->

  <!-- Label and input for op2 start -->
  <div class="form-group">
    <label for="op2">
      Op2
    </label>

    <!-- Input for op2 start -->
    <textarea id="op2" name="op2" class="form-control" rows="3"><%= @pre_ex.op2 %></textarea>
    <!-- Input for op2 end -->
  </div>
  <!-- Label and input for op2 end -->

  <!-- Label and input for op3 start -->
  <div class="form-group">
    <label for="op3">
      Op3
    </label>

    <!-- Input for op3 start -->
    <textarea id="op3" name="op3" class="form-control" rows="3"><%= @pre_ex.op3 %></textarea>
    <!-- Input for op3 end -->
  </div>
  <!-- Label and input for op3 end -->

  <!-- Label and input for op4 start -->
  <div class="form-group">
    <label for="op4">
      Op4
    </label>

    <!-- Input for op4 start -->
    <textarea id="op4" name="op4" class="form-control" rows="3"><%= @pre_ex.op4 %></textarea>
    <!-- Input for op4 end -->
  </div>
  <!-- Label and input for op4 end -->

  <!-- Label and input for op5 start -->
  <div class="form-group">
    <label for="op5">
      Op5
    </label>

    <!-- Input for op5 start -->
    <textarea id="op5" name="op5" class="form-control" rows="3"><%= @pre_ex.op5 %></textarea>
    <!-- Input for op5 end -->
  </div>
  <!-- Label and input for op5 end -->

  <!-- Label and input for hint start -->
  <div class="form-group">
    <label for="hint">
      Hint
    </label>

    <!-- Input for hint start -->
    <textarea id="hint" name="hint" class="form-control" rows="3"><%= @pre_ex.hint %></textarea>
    <!-- Input for hint end -->
  </div>
  <!-- Label and input for hint end -->

  <!-- Label and input for dificultad start -->
  <div class="form-group">
    <label for="dificultad">
      Dificultad
    </label>

    <!-- Input for dificultad start -->
    <input type="text" id="dificultad" name="dificultad" class="form-control" value="<%= @pre_ex.dificultad %>">
    <!-- Input for dificultad end -->
  </div>
  <!-- Label and input for dificultad end -->

  <!-- Label and input for habilidad start -->
  <div class="form-group">
    <label for="habilidad">
      Habilidad
    </label>

    <!-- Input for habilidad start -->
    <input type="text" id="habilidad" name="habilidad" class="form-control" value="<%= @pre_ex.habilidad %>">
    <!-- Input for habilidad end -->
  </div>
  <!-- Label and input for habilidad end -->

  <button class="btn btn-block btn-outline-secondary">
    Update pre ex
  </button>
</form>

<hr>

<a href="/pre_exes">
  Go back
</a>
