<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Pre ex #<%= @pre_ex.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/pre_exes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/pre_exes/<%= @pre_ex.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit pre ex
        </a>
      </div>

      <div class="col">
        <a href="/delete_pre_ex/<%= @pre_ex.id %>" class="btn btn-block btn-outline-secondary">
          Delete pre ex
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Contenido
      </dt>
      <dd>
        <% if @pre_ex.contenido.present? %>
          <a href="/contentidos/<%= @pre_ex.contenido_id %>">
            <%= @pre_ex.contenido.eje_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Molde
      </dt>
      <dd>
        <% if @pre_ex.molde.present? %>
          <a href="/moldes/<%= @pre_ex.molde_id %>">
            <%= @pre_ex.molde.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Enunciado
      </dt>
      <dd>
        <%= @pre_ex.enunciado %>
      </dd>

      <dt>
        Imagen
      </dt>
      <dd>
        <img src="<%= @pre_ex.imagen %>" class="img-fluid">
      </dd>

      <dt>
        Resp correcta
      </dt>
      <dd>
        <%= @pre_ex.resp_correcta %>
      </dd>

      <dt>
        W1
      </dt>
      <dd>
        <%= @pre_ex.w1 %>
      </dd>

      <dt>
        W2
      </dt>
      <dd>
        <%= @pre_ex.w2 %>
      </dd>

      <dt>
        W3
      </dt>
      <dd>
        <%= @pre_ex.w3 %>
      </dd>

      <dt>
        W4
      </dt>
      <dd>
        <%= @pre_ex.w4 %>
      </dd>

      <dt>
        Op1
      </dt>
      <dd>
        <%= @pre_ex.op1 %>
      </dd>

      <dt>
        Op2
      </dt>
      <dd>
        <%= @pre_ex.op2 %>
      </dd>

      <dt>
        Op3
      </dt>
      <dd>
        <%= @pre_ex.op3 %>
      </dd>

      <dt>
        Op4
      </dt>
      <dd>
        <%= @pre_ex.op4 %>
      </dd>

      <dt>
        Op5
      </dt>
      <dd>
        <%= @pre_ex.op5 %>
      </dd>

      <dt>
        Hint
      </dt>
      <dd>
        <%= @pre_ex.hint %>
      </dd>

      <dt>
        Dificultad
      </dt>
      <dd>
        <%= @pre_ex.dificultad %>
      </dd>

      <dt>
        Habilidad
      </dt>
      <dd>
        <%= @pre_ex.habilidad %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@pre_ex.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@pre_ex.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "pre_ex_templates/pre_ex_ejercicios" %>
  </div>
</div>
