<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Eje #<%= @eje.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/ejes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/ejes/<%= @eje.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit eje
        </a>
      </div>

      <div class="col">
        <a href="/delete_eje/<%= @eje.id %>" class="btn btn-block btn-outline-secondary">
          Delete eje
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@eje.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@eje.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "eje_templates/eje_contentidos" %>
  </div>
</div>
