<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Creador #<%= @creador.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/creadors" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/creadors/<%= @creador.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit creador
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Email
      </dt>
      <dd>
        <%= @creador.email %>
      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%= @creador.password %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@creador.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@creador.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "creador_templates/creador_ejercicios" %>
  </div>
</div>
