<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Contentido #<%= @contentido.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/contentidos" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/contentidos/<%= @contentido.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit contentido
        </a>
      </div>

      <div class="col">
        <a href="/delete_contentido/<%= @contentido.id %>" class="btn btn-block btn-outline-secondary">
          Delete contentido
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Eje
      </dt>
      <dd>
        <% if @contentido.eje.present? %>
          <a href="/ejes/<%= @contentido.eje_id %>">
            <%= @contentido.eje.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@contentido.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@contentido.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "contentido_templates/contentido_drafts" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "contentido_templates/contentido_ejercicios" %>
  </div>
</div>
