<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All ejercicios
    </h1>

    <a href="/ejercicios/new" class="btn btn-block btn-outline-secondary">
      Add a new ejercicio
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "ejercicio_templates/ejercicios_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Aprobado
        </th>

        <th>
          Contenido
        </th>

        <th>
          Bandera
        </th>

        <th>
          Comentario
        </th>

        <th>
          Molde
        </th>

        <th>
          Enunciado
        </th>

        <th>
          Imagen
        </th>

        <th>
          Resp correcta
        </th>

        <th>
          W1
        </th>

        <th>
          W2
        </th>

        <th>
          W3
        </th>

        <th>
          W4
        </th>

        <th>
          Op1
        </th>

        <th>
          Op2
        </th>

        <th>
          Op3
        </th>

        <th>
          Op4
        </th>

        <th>
          Op5
        </th>

        <th>
          Hint
        </th>

        <th>
          Dificultad
        </th>

        <th>
          Habilidad
        </th>

        <th>
          Last pre ex
        </th>

        <th>
          Creador
        </th>

        <th>
          Aprobador
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @ejercicios.each do |ejercicio| %>
      <tr>
        <td>
          <%= ejercicio.id %>
        </td>

        <td>
          <%= ejercicio.aprobado %>
        </td>

        <td>
          <% if ejercicio.contenido.present? %>
            <a href="/contentidos/<%= ejercicio.contenido.id %>">
              <%= ejercicio.contenido.eje_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= ejercicio.bandera %>
        </td>

        <td>
          <%= ejercicio.comentario %>
        </td>

        <td>
          <% if ejercicio.molde.present? %>
            <a href="/moldes/<%= ejercicio.molde.id %>">
              <%= ejercicio.molde.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <%= ejercicio.enunciado %>
        </td>

        <td>
          <img src='<%= ejercicio.imagen %>' class='img-fluid'>
        </td>

        <td>
          <%= ejercicio.resp_correcta %>
        </td>

        <td>
          <%= ejercicio.w1 %>
        </td>

        <td>
          <%= ejercicio.w2 %>
        </td>

        <td>
          <%= ejercicio.w3 %>
        </td>

        <td>
          <%= ejercicio.w4 %>
        </td>

        <td>
          <%= ejercicio.op1 %>
        </td>

        <td>
          <%= ejercicio.op2 %>
        </td>

        <td>
          <%= ejercicio.op3 %>
        </td>

        <td>
          <%= ejercicio.op4 %>
        </td>

        <td>
          <%= ejercicio.op5 %>
        </td>

        <td>
          <%= ejercicio.hint %>
        </td>

        <td>
          <%= ejercicio.dificultad %>
        </td>

        <td>
          <%= ejercicio.habilidad %>
        </td>

        <td>
          <% if ejercicio.last_pre_ex.present? %>
            <a href="/pre_exes/<%= ejercicio.last_pre_ex.id %>">
              <%= ejercicio.last_pre_ex.contenido_id %>
            </a>
          <% end %>
        </td>

        <td>
          <% if ejercicio.creador.present? %>
            <a href="/creadors/<%= ejercicio.creador.id %>">
              <%= ejercicio.creador.email %>
            </a>
          <% end %>
        </td>

        <td>
          <% if ejercicio.aprobador.present? %>
            <a href="/aprobadors/<%= ejercicio.aprobador.id %>">
              <%= ejercicio.aprobador.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(ejercicio.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(ejercicio.updated_at) %> ago
        </td>

        <td>
          <a href="/ejercicios/<%= ejercicio.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @ejercicios, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
