<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Ejercicio #<%= @ejercicio.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/ejercicios" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_creador == @ejercicio.creador %>
          <a href="/ejercicios/<%= @ejercicio.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit ejercicio
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_creador == @ejercicio.creador %>
          <a href="/delete_ejercicio/<%= @ejercicio.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete ejercicio
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Aprobado
      </dt>
      <dd>
        <%= @ejercicio.aprobado %>
      </dd>

      <dt>
        Contenido
      </dt>
      <dd>
        <% if @ejercicio.contenido.present? %>
          <a href="/contentidos/<%= @ejercicio.contenido_id %>">
            <%= @ejercicio.contenido.eje_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Bandera
      </dt>
      <dd>
        <%= @ejercicio.bandera %>
      </dd>

      <dt>
        Comentario
      </dt>
      <dd>
        <%= @ejercicio.comentario %>
      </dd>

      <dt>
        Molde
      </dt>
      <dd>
        <% if @ejercicio.molde.present? %>
          <a href="/moldes/<%= @ejercicio.molde_id %>">
            <%= @ejercicio.molde.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Enunciado
      </dt>
      <dd>
        <%= @ejercicio.enunciado %>
      </dd>

      <dt>
        Imagen
      </dt>
      <dd>
        <img src="<%= @ejercicio.imagen %>" class="img-fluid">
      </dd>

      <dt>
        Resp correcta
      </dt>
      <dd>
        <%= @ejercicio.resp_correcta %>
      </dd>

      <dt>
        W1
      </dt>
      <dd>
        <%= @ejercicio.w1 %>
      </dd>

      <dt>
        W2
      </dt>
      <dd>
        <%= @ejercicio.w2 %>
      </dd>

      <dt>
        W3
      </dt>
      <dd>
        <%= @ejercicio.w3 %>
      </dd>

      <dt>
        W4
      </dt>
      <dd>
        <%= @ejercicio.w4 %>
      </dd>

      <dt>
        Op1
      </dt>
      <dd>
        <%= @ejercicio.op1 %>
      </dd>

      <dt>
        Op2
      </dt>
      <dd>
        <%= @ejercicio.op2 %>
      </dd>

      <dt>
        Op3
      </dt>
      <dd>
        <%= @ejercicio.op3 %>
      </dd>

      <dt>
        Op4
      </dt>
      <dd>
        <%= @ejercicio.op4 %>
      </dd>

      <dt>
        Op5
      </dt>
      <dd>
        <%= @ejercicio.op5 %>
      </dd>

      <dt>
        Hint
      </dt>
      <dd>
        <%= @ejercicio.hint %>
      </dd>

      <dt>
        Dificultad
      </dt>
      <dd>
        <%= @ejercicio.dificultad %>
      </dd>

      <dt>
        Habilidad
      </dt>
      <dd>
        <%= @ejercicio.habilidad %>
      </dd>

      <dt>
        Last pre ex
      </dt>
      <dd>
        <% if @ejercicio.last_pre_ex.present? %>
          <a href="/pre_exes/<%= @ejercicio.last_pre_ex_id %>">
            <%= @ejercicio.last_pre_ex.contenido_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Creador
      </dt>
      <dd>
        <% if @ejercicio.creador.present? %>
          <a href="/creadors/<%= @ejercicio.creador_id %>">
            <%= @ejercicio.creador.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Aprobador
      </dt>
      <dd>
        <% if @ejercicio.aprobador.present? %>
          <a href="/aprobadors/<%= @ejercicio.aprobador_id %>">
            <%= @ejercicio.aprobador.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@ejercicio.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@ejercicio.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

